{% comment %}
<section class="container">
  <div class="row fw-loginform-wrapper justify-content-center align-items-center {{ portal.current_page }}" id="loginForm">
    <div class="col-lg-6 fw-form-section">
      {{ page_message }}
      {% snippet login_error_messages %}
      <div class="form">
        {% snippet login_form %}
        {% if portal.has_alternate_login %}
          <div class="fw-or">
            <div><span>{{ 'portal_translations.login.login_options' | t }}</span></div>
            <hr />
          </div>
          <div class="fw-social-media-login row">
            <div class="col-md-8 mx-auto">            
              {% snippet social_login %}
            </div>
          </div>
        {% endif %}
          <div class="text-center fw-forget-section"><a href="#" id="forgetPassLink">{{ 'portal_translations.login.forgot' | t }}</a></div>
      </div>
      {% snippet agent_login %}
      {% snippet customer_login %}
    </div>
  </div>
    <div class="row fw-loginform-wrapper justify-content-center d-none" id="forgetPassForm">
    <div class="col-lg-6 fw-form-section">
      <div class="form">
        {% snippet forgot_password_form %}
        {% if portal.has_alternate_login %}
          <div class="fw-or">
            <div><span>{{ 'portal_translations.login.login_options' | t }}</span></div>
            <hr />
          </div>
          <div class="fw-social-media-login row">
            <div class="col-md-8 mx-auto">            
              {% snippet social_login %}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endcomment %}
<section class="mx-auto my-auto max-w-[768px]">
    <div class="fw-loginform-wrapper justify-content-center align-items-center py-0" id="loginForm">
        <div class="w-full fw-form-section">
            {{ page_message }}
            {% snippet login_error_messages %}
            <div class="h-full flex p-0">
                <div class="w-full pt-10 flex flex-col items-center">
                    <h1 class="text-[36px] !font-['Inter',sans-serif] !mb-[36px] w-[550px] text-center">Welcome to Freshdesk Demo Portal</h1>
                    <form novalidate="novalidate" class="new_user_session" id="new_user_session" action="/support/login" accept-charset="UTF-8" method="post" style="/* display: flex; */">
                        <input name="utf8" type="hidden" value="✓" /><input type="hidden" name="authenticity_token" value="jzncaiE9s/rSJjNBlzYBfXJxfx45Av+53EGzNWkFev/GFssVDUSvYxGCvjI/DRWVC00PVp+apDUMmRrLV2A7hQ==" />

                        <p class="hidden">
                            Are you a new user? <b> <a href="/support/signup">Sign up with us</a></b>
                        </p>

                        <div
                            class="form-group bg-white group rounded-full w-[450px] h-auto flex gap-[8px] transition duration-700 ease-in-out !border-[#5e5e5e] focus-within:!border-[#2b2b2b] border items-center py-[8px] pl-[12px] pr-[14px]"
                        >
                            <svg class="w-[24px] h-[24px]" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    class="stroke-[#5e5e5e] group-focus-within:stroke-[#2b2b2b] transition duration-700 ease-in-out"
                                    d="M6 21V19C6 17.9391 6.42143 16.9217 7.17157 16.1716C7.92172 15.4214 8.93913 15 10 15H14C15.0609 15 16.0783 15.4214 16.8284 16.1716C17.5786 16.9217 18 17.9391 18 19V21M8 7C8 8.06087 8.42143 9.07828 9.17157 9.82843C9.92172 10.5786 10.9391 11 12 11C13.0609 11 14.0783 10.5786 14.8284 9.82843C15.5786 9.07828 16 8.06087 16 7C16 5.93913 15.5786 4.92172 14.8284 4.17157C14.0783 3.42143 13.0609 3 12 3C10.9391 3 9.92172 3.42143 9.17157 4.17157C8.42143 4.92172 8 5.93913 8 7Z"
                                    stroke="black"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                ></path>
                            </svg>

                            <input
                                type="email"
                                id="emailInput"
                                placeholder="Your e-mail address"
                                name="user_session[email]"
                                required=""
                                aria_describedby="emailInput"
                                class="text-sm !leading-[1] h-[28px] w-full focus:outline-0 font-['Inter',sans-serif] text-[#333]"
                            />

                            <div class="invalid-feedback emailInput"></div>
                        </div>

                        <div
                            class="form-group bg-white group rounded-full w-[450px] h-auto flex gap-[8px] transition duration-700 ease-in-out !border-[#5e5e5e] focus-within:!border-[#2b2b2b] border items-center py-[8px] pl-[12px] pr-[14px] !mb-[40px]"
                        >
                            <svg class="w-[24px] h-[24px]" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M12 17C11.4696 17 10.9609 16.7893 10.5858 16.4142C10.2107 16.0391 10 15.5304 10 15C10 13.89 10.89 13 12 13C12.5304 13 13.0391 13.2107 13.4142 13.5858C13.7893 13.9609 14 14.4696 14 15C14 15.5304 13.7893 16.0391 13.4142 16.4142C13.0391 16.7893 12.5304 17 12 17ZM18 20V10H6V20H18ZM18 8C18.5304 8 19.0391 8.21071 19.4142 8.58579C19.7893 8.96086 20 9.46957 20 10V20C20 20.5304 19.7893 21.0391 19.4142 21.4142C19.0391 21.7893 18.5304 22 18 22H6C5.46957 22 4.96086 21.7893 4.58579 21.4142C4.21071 21.0391 4 20.5304 4 20V10C4 8.89 4.89 8 6 8H7V6C7 4.67392 7.52678 3.40215 8.46447 2.46447C9.40215 1.52678 10.6739 1 12 1C12.6566 1 13.3068 1.12933 13.9134 1.3806C14.52 1.63188 15.0712 2.00017 15.5355 2.46447C15.9998 2.92876 16.3681 3.47995 16.6194 4.08658C16.8707 4.69321 17 5.34339 17 6V8H18ZM12 3C11.2044 3 10.4413 3.31607 9.87868 3.87868C9.31607 4.44129 9 5.20435 9 6V8H15V6C15 5.20435 14.6839 4.44129 14.1213 3.87868C13.5587 3.31607 12.7956 3 12 3Z"
                                    fill="black"
                                    class="fill-[#5e5e5e] group-focus-within:fill-[#2b2b2b] transition duration-700 ease-in-out"
                                ></path>
                            </svg>

                            <input
                                type="password"
                                class="text-sm !leading-[1] h-[28px] w-full focus:outline-0 font-['Inter',sans-serif] text-[#333]"
                                id="passwordInput"
                                placeholder="Password"
                                name="user_session[password]"
                                required=""
                                aria_describedby="passwordInput"
                                autocomplete="off"
                            />

                            <div class="invalid-feedback passwordInput"></div>
                        </div>

                        <div class="flex w-[450px]">
                            <div class="grow">
                                <div class="fw-forget-section mb-[8px]" style="margin-bottom: 4px; font-size: 14px;">
                                    <a href="#" id="forgetPassLink" style="font-family: 'inter', sans-serif; color: hsl(0 0% 57% / 1);">Forgot your password?</a>
                                </div>

                                <div class="form-check">
                                    <input name="user_session[remember_me]" type="hidden" value="false" />

                                    <input type="checkbox" class="form-check-input" id="rememberInput" name="user_session[remember_me]" value="1" checked="true" aria_describedby="rememberInput" />

                                    <label for="rememberInput" class="form-check-label" style="font-family: 'Inter', sans-serif; font-size: 14px;">
                                        Remember me on this computer
                                    </label>

                                    <div class="invalid-feedback rememberInput"></div>
                                </div>
                            </div>
                            <div class="w-fit">
                                <button
                                    type="submit"
                                    class="btn fw-primary-button btn-block login-button !rounded-full !w-fit !py-[12px] !px-[32px] hover:!px-[42px] font-bold !transition-all !ease-in-out !duration-700"
                                    data-recaptcha-enterprise=""
                                    style="font-family: 'Inter', sans-serif; letter-spacing: 1px; background: #000;"
                                >
                                    Login
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="rounded-full w-fit flex overflow-hidden border-2 border-[#333] fs-20 semi-bold !mt-[24px] text-start font-['Inter',sans-serif] text-[#333]">
                        <div class="w-fit px-6 py-[12px] bg-[#000] text-white text-sm">
                            Are you an agent?
                        </div>
                        <div class="w-fit flex relative">
                            <a
                                id=""
                                href="https://rifreshworks.myfreshworks.com/login?client_id=451980303908285122&amp;redirect_uri=https%3A%2F%2Frifreshworks.freshdesk.com%2Ffreshid%2Fauthorize_callback%3Fhd%3Dhttps%3A%2F%2Frifreshworks.freshdesk.com"
                                class="!transition-all !ease-in-out !duration-700 fw-twitter-btn px-6 hover:px-10 py-[12px] !text-[#787878] hover:!text-[#121212] uppercase whitespace-nowrap mx-0 text-sm h-full flex items-center justify-center"
                            >
                                Login here
                            </a>
                        </div>
                    </div>
                </div>
                <!-- <div class="w-1/2">
                    
                </div> -->
            </div>
        </div>
    </div>
    <div class="row fw-loginform-wrapper justify-content-center d-none" id="forgetPassForm">
        <div class="col-lg-6 fw-form-section">
            <div class="form">
                <form novalidate="novalidate" id="password_reset" action="/password_resets" accept-charset="UTF-8" method="post">
                    <input name="utf8" type="hidden" value="✓" /><input type="hidden" name="authenticity_token" value="pAaCG+g9hkkfgZAf2f+Qc5NGTTKdP0hf+OfCs6gWXentKZVkxESa0NwlHWxxxISb6no9ejunE9MoP2tNlnMckw==" />
                    <h1>Forgot password</h1>
                    <p>Give us your email address and instructions to reset your password will be emailed to you.</p>
                    <div class="form-group">
                        <label for="email" class="form-label">
                            Your e-mail address

                            <span class="fw-asterisk">*</span>
                        </label>

                        <input type="email" class="form-control" id="email" placeholder="Your e-mail address" name="email" required="" />

                        <div class="invalid-feedback email"></div>
                    </div>

                    <button type="submit" class="btn fw-primary-button btn-block password-forgot-button">
                        Reset my password
                    </button>
                    <button type="button" class="btn fw-secondary-button btn-block" id="loginFormLink">
                        Cancel
                    </button>
                </form>

                <div class="fw-or">
                    <div><span>...or login using</span></div>
                    <hr />
                </div>
                <div class="fw-social-media-login row">
                    <div class="col-md-8 mx-auto">
                        <form id="auto_link" method="post" action="/auth/google_login">
                            <input type="hidden" name="authenticity_token" value="SS8Xfyx5HJnDpI1zqDsU6Hk8cEimmFuM0Nip/j5lQXo=" />
                            <a id="google_auto_link" href="javascript:document.getElementById('google_auto_link').parentNode.submit()" class="fw-google-btn py-12 rounded">Continue with Google</a>
                        </form>

                        <a id="" href="/sso/facebook" class="fw-fb-btn py-12 rounded">Continue with Facebook</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>